
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  a{
    text-decoration:none;
  }
  body{
    background-color: black;
    background-image: url("IMG1.jpeg");
    background-size: cover;
  }
  
  .headerpart{
    border: 5px solid gold;
    background-color: black;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color:#e8e5c3;
  }
  .navbar-brand{
    font-weight: 900;
    font-size: 1.5rem;
  }
  /* option selected */
#option-selected{
  border:2px solid gold;
  border-radius: 10px;
  background-color: black;
}
#option-selected:hover{
  font-size: 1.2rem;
  font-weight:400;
}

/* transition for page to select from nav bar */
 .nav-item-underline-effect:hover{
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 4px;
  color:gold;
  text-decoration-color: gold;
  transition: text-decoration 10s ;
  transition: ease-in-out;
  transition: margin-right 4s ease-in-out 10s;

}



/* footer */
#footerheading{
  font-size: 7vmax;
  font-weight: 900;
}
.footer{
  background: black;
  color:gold;
  border:2px solid gold;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  .links{
    ul {list-style-type: none;}
    li a{
      text-decoration-color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        text-decoration-color: white;
        color:white;
        }
    }
  }  
  .linksothsites a{
    color:white;
  }
  .about-company{
    i{font-size: 25px;}
    a{
      text-decoration-color: white;
      color:white;
      transition: color .2s;
      &:hover{color:white}
    }
  } 
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
  .createdby{
    text-align: center;
  }
}